.DS_Store
.idea
.ipynb_checkpoints
temp*
*.pyc
docs/03_basic_workflow/example_results/*
docs/03_basic_workflow/full_example_cells/example_results/*
docs/12_unwrapping_individual_protrusions/example_results/*
*.afdesign